/* Tüm sayfa genel stil */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
  }
  
  /* Ana İçerik Alanı */
  .content {
    margin-left: 250px; /* Sidebar genişliği kadar boşluk bırakır */
    padding: 20px;
  }
  